@media (min-width: (1352px)) {
  .projects {
    .card {
      &--1,
      &--2,
      &--3,
      &--4,
      &--7 {
        order: 0;
      }

      &--5,
      &--6 {
        order: 1;
      }
    }
  }
}

@media (max-width: (1351px)) {
  .container {
    max-width: 1025px;
  }

  .header {
    margin-bottom: 34px;

    &__container {
      .logo {
        margin-right: 77px;
        padding-top: 28px;
      }

      .nav {
        &__list {
          width: 568px;
        }
      }
    }
  }

  .contacts {
    .grid {
      grid-template-columns: repeat(8, 1fr);
    }

    &__map {
      grid-column: 5 span;
      height: 460px;
    }

    &__address {
      padding: 25px 260px 21px 30px;
      width: 100%;
      height: initial;
      max-height: 100%;

      .address__text {
        margin-bottom: 0;
      }
    }

    &__form {
      grid-column: 6 / span 3;
    }
  }

  .hero {
    .grid {
      grid-template-rows: auto 332px 186px;
    }

    &__left {
      background-image: url('../img/hero-1-466w.jpg');
      background-image: -webkit-image-set(
        url('../img/hero-1-466w.webp') type('image/webp'),
        url('../img/hero-1-466w.jpg') type('image/jpeg')
      );
      background-image: image-set(
        url('../img/hero-1-466w.webp') type('image/webp'),
        url('../img/hero-1-466w.jpg') type('image/jpeg')
      );
      padding: 30px;
    }

    &__descr {
      margin-bottom: 8px;
    }

    &__title {
      margin-bottom: 21px;
      margin-left: 0;
      font-size: 34px;
      line-height: 100%;
    }

    .works {
      &__title {
        margin-bottom: -6px;
      }
    }
  }

  .about {
    padding-bottom: 80px;

    .grid {
      grid-template-rows: 332px 1fr;
    }

    &__image {
      height: 332px;
      background-image: url('../img/about-466w.jpg');
      background-image: -webkit-image-set(
        url('../img/about-466w.webp') type('image/webp'),
        url('../img/about-466w.jpg') type('image/jpeg')
      );
      background-image: image-set(
        url('../img/about-466w.webp') type('image/webp'),
        url('../img/about-466w.jpg') type('image/jpeg')
      );
    }

    .subscribe {
      &__title {
        margin-left: -2px;
      }

      &__input {
        margin-bottom: 20px;
        max-width: 342px;
        width: 342px;
      }
    }
  }

  .projects {
    .grid {
      grid-template-columns: repeat(8, 1fr);
      grid-template-rows: 285px;
      grid-auto-rows: 307px;
      grid-gap: 24px 30px;
    }

    .card {
      &__descr {
        margin-bottom: 16px;
      }

      &--big {
        &--1 {
          .card__btn {
            bottom: 36px;
          }
        }
      }

      &__content.big-content {
        padding-top: 30px;
      }

      &--1,
      &--2 {
        grid-column: 2 span;

        .card__descr {
          -webkit-line-clamp: 2;
        }
      }

      &--3 {
        grid-column: 4 span;
      }

      &--4,
      &--7 {
        grid-column: 5 span;
      }

      &--5,
      &--6 {
        grid-column: 3 span;
      }
    }
  }

  .footer {
    &__logo-text {
      margin-right: 136px;
    }
  }
}
