<section class="contacts">
  <div class="container">
    <h2 class="contacts__title">Контакты</h2>
    <div class="contacts__wrap grid">
      <div class="contacts__map">
        <div class="contacts__address address">
          <button
            class="btn-reset address__close"
            aria-label="Закрыть адрес"
          ></button>
          <div class="address__content">
            <h3 class="address__title">Студия &laquo;High pass&raquo;</h3>
            <p class="address__text">
              107045, Москва, Даев переулок, дом&nbsp;41, бизнес-центр
              &laquo;Даев Плаза&raquo;, этаж&nbsp;8, офис &#8470;&nbsp;82
              <span class="address__wrap-tel"
                ><a class="address__tel" href="tel:+749542423532">
                  +7&nbsp;495 424-23-532
                </a></span
              >
            </p>
          </div>
        </div>
        <div id="map" class="ya-map"></div>
      </div>
      <div class="contacts__form form">
        <h3 class="form__title">Оставить заявку</h3>
        <p class="form__descr">
          Оставьте ваши данные, указав в&nbsp;графе &laquo;Комментарий&raquo;
          желаемые время и&nbsp;дату съёмки или другого мероприятия
        </p>
        <form class="form__body" id="contacts_form">
          <div class="field-wrap">
            <input
              class="input-reset form__input form-field"
              type="text"
              name="name"
              placeholder="Имя"
              id="name"
            />
          </div>
          <div class="field-wrap">
            <input
              class="input-reset form__input form-field"
              name="email"
              placeholder="Email"
              id="email"
            />
          </div>
          <div class="field-wrap">
            <textarea
              class="form__textarea form-field"
              name="comment"
              placeholder="Комментарий"
              id="comment"
            ></textarea>
          </div>
          <button class="btn-reset btn form__submit" type="submit">
            Отправить
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
