<section class="hero">
  <div class="container grid works">
    <div class="hero__left flex">
      <div class="hash-tag">#мастеркласс</div>
      <p class="hero__descr">Мастер-класс от&nbsp;Игоря Робова</p>
      <h1 class="hero__title">Неоновый фотосет 2.0 7&nbsp;июля 20:00</h1>
      <button class="btn-reset btn hero__btn">Узнать больше</button>
    </div>
    <h2 class="hero__works works__title">
      Работы участников предыдущего мастер-класса
    </h2>

    <picture class="hero__works works__item works__item--1">
      <source
        srcset="img/hero-2-278w.webp"
        media="(max-width: 767px)"
        type="image/webp"
      />
      <source srcset="img/hero-2-278w.jpg" media="(max-width: 767px)" />
      <source
        srcset="img/hero-2-342w.webp"
        media="(max-width: 1023px)"
        type="image/webp"
      />
      <source srcset="img/hero-2-342w.jpg" media="(max-width: 1023px)" />
      <source
        srcset="img/hero-2-466w.webp"
        media="(max-width: 1351px)"
        type="image/webp"
      />
      <source srcset="img/hero-2-466w.jpg" media="(max-width: 1351px)" />
      <source srcset="img/hero-2.webp" type="image/webp" />
      <img
        loading="lazy"
        src="img/hero-2.jpg"
        alt="Работа участника предыдущего мастер-класса"
      />
    </picture>

    <picture class="hero__works works__item works__item--2">
      <source
        srcset="img/hero-3-124w.webp"
        media="(max-width: 767px)"
        type="image/webp"
      />
      <source srcset="img/hero-3-124w.jpg" media="(max-width: 767px)" />
      <source
        srcset="img/hero-3-156w.webp"
        media="(max-width: 1023px)"
        type="image/webp"
      />
      <source srcset="img/hero-3-156w.jpg" media="(max-width: 1023px)" />
      <source
        srcset="img/hero-3-218w.webp"
        media="(max-width: 1351px)"
        type="image/webp"
      />
      <source srcset="img/hero-3-218w.jpg" media="(max-width: 1351px)" />
      <source srcset="img/hero-3.webp" type="image/webp" />
      <img
        loading="lazy"
        src="img/hero-3.jpg"
        alt="Работа участника предыдущего мастер-класса"
      />
    </picture>

    <picture class="hero__works works__item works__item--3">
      <source
        srcset="img/hero-4-124w.webp"
        media="(max-width: 767px)"
        type="image/webp"
      />
      <source srcset="img/hero-4-124w.jpg" media="(max-width: 767px)" />
      <source
        srcset="img/hero-4-156w.webp"
        media="(max-width: 1023px)"
        type="image/webp"
      />
      <source srcset="img/hero-4-156w.jpg" media="(max-width: 1023px)" />
      <source
        srcset="img/hero-4-218w.webp"
        media="(max-width: 1351px)"
        type="image/webp"
      />
      <source srcset="img/hero-4-218w.jpg" media="(max-width: 1351px)" />
      <source srcset="img/hero-4.webp" type="image/webp" />
      <img
        loading="lazy"
        src="img/hero-4.jpg"
        alt="Работа участника предыдущего мастер-класса"
      />
    </picture>
  </div>
</section>
