<section class="projects">
  <div class="container">
    <h2 class="projects__title">Наши проекты</h2>
    <div class="projects__wrap grid">
      <div class="projects__work card card--1">
        <div class="hash-tag">#пейзаж</div>
        <picture>
          <source
            srcset="img/project-1-278w.webp"
            media="(max-width: 767px)"
            type="image/webp"
          />
          <source srcset="img/project-1-278w.jpg" media="(max-width: 767px)" />
          <source
            srcset="img/project-1-218w.webp"
            media="(max-width: 1351px)"
            type="image/webp"
          />
          <source srcset="img/project-1-218w.jpg" media="(max-width: 1351px)" />
          <source srcset="img/project-1.webp" type="image/webp" />
          <img
            loading="lazy"
            class="card__image"
            src="img/project-1.jpg"
            alt="Изображение проекта"
          />
        </picture>
        <p class="card__descr">
          Синтетически, смешаны с&nbsp;не&nbsp;уникальными данными
          до&nbsp;степени...
        </p>
        <time datetime="2023" class="card__date">16&nbsp;июня</time>
      </div>

      <div class="projects__work card card--2">
        <div class="hash-tag">#портрет</div>
        <picture>
          <source
            srcset="img/project-2-278w.webp"
            media="(max-width: 767px)"
            type="image/webp"
          />
          <source srcset="img/project-2-278w.jpg" media="(max-width: 767px)" />
          <source
            srcset="img/project-2-218w.webp"
            media="(max-width: 1351px)"
            type="image/webp"
          />
          <source srcset="img/project-2-218w.jpg" media="(max-width: 1351px)" />
          <source srcset="img/project-2.webp" type="image/webp" />
          <img
            loading="lazy"
            class="card__image"
            src="img/project-2.jpg"
            alt="Изображение проекта"
          />
        </picture>
        <p class="card__descr">
          В&nbsp;своём стремлении улучшить опыт&nbsp;мы <wbr /> упускаем, что
          явные...
        </p>
        <time datetime="2023" class="card__date">28&nbsp;мая</time>
      </div>

      <div class="projects__work card card--3">
        <div class="hash-tag">#предмет</div>
        <picture>
          <source
            srcset="img/project-3-278w.webp"
            media="(max-width: 767px)"
            type="image/webp"
          />
          <source srcset="img/project-3-278w.jpg" media="(max-width: 767px)" />
          <source
            srcset="img/project-3-218w.webp"
            media="(max-width: 1023px)"
            type="image/webp"
          />
          <source srcset="img/project-3-218w.jpg" media="(max-width: 1023px)" />
          <source
            srcset="img/project-3-466w.webp"
            media="(max-width: 1351px)"
            type="image/webp"
          />
          <source srcset="img/project-3-466w.jpg" media="(max-width: 1351px)" />
          <source srcset="img/project-3.webp" type="image/webp" />
          <img
            loading="lazy"
            class="card__image"
            src="img/project-3.jpg"
            alt="Изображение проекта"
          />
        </picture>
        <p class="card__descr">
          Равным образом, высокое качество позиционных высокотехнологичная
          концепция общественного уклада
        </p>
        <time datetime="2023" class="card__date">14&nbsp;мая</time>
      </div>

      <div class="projects__work card card--big card--big--1 card--4">
        <div class="card__image-wrap">
          <div class="hash-tag">#fuji</div>
          <picture>
            <source
              srcset="img/project-4-278w.webp"
              media="(max-width: 767px)"
              type="image/webp"
            />
            <source
              srcset="img/project-4-278w.jpg"
              media="(max-width: 767px)"
            />
            <source
              srcset="img/project-4-714w.webp"
              media="(max-width: 1023px)"
              type="image/webp"
            />
            <source
              srcset="img/project-4-714w.jpg"
              media="(max-width: 1023px)"
            />
            <source
              srcset="img/project-4-590w.webp"
              media="(max-width: 1351px)"
              type="image/webp"
            />
            <source
              srcset="img/project-4-590w.jpg"
              media="(max-width: 1351px)"
            />
            <source srcset="img/project-4.webp" type="image/webp" />
            <img
              loading="lazy"
              class="card__image"
              src="img/project-4.jpg"
              alt="Изображение проекта"
            />
          </picture>
        </div>
        <div class="card__content big-content">
          <time datetime="2023" class="card__date">9&nbsp;апреля</time>
          <h3 class="card__title">Cемантический разбор</h3>
          <p class="card__descr">
            В&nbsp;рамках спецификации современных стандартов, интерактивные
            прототипы
          </p>
        </div>
        <button class="btn-reset btn card__btn big-btn">О&nbsp;проекте</button>
      </div>

      <div class="projects__work card card--6">
        <div class="hash-tag">#ретушь</div>
        <picture>
          <source
            srcset="img/project-5-278w.webp"
            media="(max-width: 767px)"
            type="image/webp"
          />
          <source srcset="img/project-5-278w.jpg" media="(max-width: 767px)" />
          <source
            srcset="img/project-5-342w.webp"
            media="(max-width: 1351px)"
            type="image/webp"
          />
          <source srcset="img/project-5-342w.jpg" media="(max-width: 1351px)" />
          <source srcset="img/project-5.webp" type="image/webp" />
          <img
            loading="lazy"
            class="card__image"
            src="img/project-5.jpg"
            alt="Изображение проекта"
          />
        </picture>
        <p class="card__descr">
          Как принято считать, многие известные личности и&nbsp;по&nbsp;сей день
          остаются уделом либералов...
        </p>
        <time datetime="2023" class="card__date">9&nbsp;марта</time>
      </div>

      <div class="projects__work card card--5">
        <div class="hash-tag">#портрет</div>
        <picture>
          <source
            srcset="img/project-6-278w.webp"
            media="(max-width: 767px)"
            type="image/webp"
          />
          <source srcset="img/project-6-278w.jpg" media="(max-width: 767px)" />
          <source
            srcset="img/project-6-342w.webp"
            media="(max-width: 1351px)"
            type="image/webp"
          />
          <source srcset="img/project-6-342w.jpg" media="(max-width: 1351px)" />
          <source srcset="img/project-6.webp" type="image/webp" />
          <img
            loading="lazy"
            class="card__image"
            src="img/project-6.jpg"
            alt="Изображение проекта"
          />
        </picture>
        <p class="card__descr">
          С&nbsp;учётом сложившейся международной обстановки, новая модель
          организационной...
        </p>
        <time datetime="2023" class="card__date">1&nbsp;марта</time>
      </div>

      <div class="projects__work card card--big card--big--2 card--7">
        <div class="hash-tag">#проектзабвение</div>
        <picture>
          <source
            srcset="img/project-7-278w.webp"
            media="(max-width: 767px)"
            type="image/webp"
          />
          <source srcset="img/project-7-278w.jpg" media="(max-width: 767px)" />
          <source
            srcset="img/project-7-714w.webp"
            media="(max-width: 1023px)"
            type="image/webp"
          />
          <source srcset="img/project-7-714w.jpg" media="(max-width: 1023px)" />
          <source
            srcset="img/project-7-590w.webp"
            media="(max-width: 1351px)"
            type="image/webp"
          />
          <source srcset="img/project-7-590w.jpg" media="(max-width: 1351px)" />
          <source srcset="img/project-7.webp" type="image/webp" />
          <img
            loading="lazy"
            class="card__image"
            src="img/project-7.jpg"
            alt="Изображение проекта"
          />
        </picture>
        <div class="card__content big-content">
          <time datetime="2023" class="card__date">20&nbsp;марта</time>
          <h3 class="card__title">Забвение</h3>
          <p class="card__descr">
            Играет важную роль в&nbsp;формировании глубокомысленных рассуждений
          </p>
        </div>
        <button class="btn-reset btn card__btn big-btn">О&nbsp;проекте</button>
      </div>
    </div>
  </div>
</section>
